<% if @friend.errors.any? %>
<ul>
 <% @friend.errors.full_messages.each do |error| %>
   <li><%= error %></li>
 <% end %>
</ul>
<% end %>

<%= form_for @friend do |f| %>
  <%= f.label :name, 'Friend Name' %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <br/>
  <%= f.submit %>
<% end %>
