<ul>
  <% @friends.each do |friend| %>
    
    <div id="friend_block">
    
    <li id="friend_name_phone"><%= friend.name + ' // ' %><%= friend.phone %></li>
    <li id="friend_edit_del_btn"><%= link_to "Edit", edit_friend_path(friend), remote: true %> | <%= link_to "Delete", friend_path(friend), method: :delete %></li>
    
    <div id="friend_edit_field_<%= friend.id %>" style= "display:none;"></div>

    </div>

  <% end %>
</ul>