<div id="group_checkboxes_names">
<%= form_for @group do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.collection_check_boxes :friend_ids, Friend.all, :id, :name %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<%end %>
</div>