<% if @group.errors.any? %>
<ul>
 <% @group.errors.full_messages.each do |error| %>
   <li><%= error %></li>
 <% end %>
</ul>
<% end %>

<div id="group_checkboxes_names">
<%= form_for @group do |f| %>
  <%= f.label :name, 'Group Name' %>
  <%= f.text_field :name %>
  <%= f.label :body, 'SMS Body' %>
  <%= f.text_field :body %>
  <br/>
  <%= f.collection_check_boxes :friend_ids, current_user.friends, :id, :name %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>
</div>

